/src/.idea/inspectionProfiles/profiles_settings.xml
/src/.idea/misc.xml
/src/.idea/modules.xml
/src/.idea/src.iml
/src/.idea/workspace.xml
/src/.idea/dictionaries
/.idea/Learn_For_Python3.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/src/WebBasic/__pycache__
